<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SAMERP</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
 <servlet>
    <servlet-name>JcbPocReport</servlet-name>
    <servlet-class>admin.JcbPocWork.JcbPocReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JcbPocReport</servlet-name>
    <url-pattern>/JcbPocReport.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JcbPocPaymentReceived</servlet-name>
    <servlet-class>admin.JcbPocWork.JcbPocPaymentReceived</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JcbPocPaymentReceived</servlet-name>
    <url-pattern>/JcbPocPaymentReceived.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCustomer</servlet-name>
    <servlet-class>admin.settings.AddCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomer</servlet-name>
    <url-pattern>/AddCustomer.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JcbPocDetails</servlet-name>
    <servlet-class>admin.JcbPocWork.JcbPocDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JcbPocDetails</servlet-name>
    <url-pattern>/JcbPocDetails.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddVehicles</servlet-name>
    <servlet-class>admin.settings.AddVehicles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVehicles</servlet-name>
    <url-pattern>/AddVehicles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>AddAccountDetails</servlet-name>
    <servlet-class>admin.settings.AddAccountDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAccountDetails</servlet-name>
    <url-pattern>/AddAccountDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>Expenses</servlet-name>
    <servlet-class>admin.expenses.Expenses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Expenses</servlet-name>
    <url-pattern>/Expenses.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddEmployee</servlet-name>
    <servlet-class>admin.settings.AddEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployee</servlet-name>
    <url-pattern>/AddEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddOrganization</servlet-name>
    <servlet-class>admin.settings.AddOrganization</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrganization</servlet-name>
    <url-pattern>/AddOrganization</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaleSupply</servlet-name>
    <servlet-class>admin.SaleSupply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaleSupply</servlet-name>
    <url-pattern>/SaleSupply</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Sales</servlet-name>
    <servlet-class>admin.sales.Sales</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sales</servlet-name>
    <url-pattern>/Sales</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductPurchase</servlet-name>
    <servlet-class>admin.productPurchase.ProductPurchase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductPurchase</servlet-name>
    <url-pattern>/ProductPurchase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>AddSupplyMaterial</servlet-name>
    <servlet-class>admin.settings.AddSupplyMaterial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSupplyMaterial</servlet-name>
    <url-pattern>/AddSupplyMaterial</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>AddRawMaterial</servlet-name>
    <servlet-class>admin.settings.AddRawMaterial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRawMaterial</servlet-name>
    <url-pattern>/AddRawMaterial</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddContractor</servlet-name>
    <servlet-class>admin.settings.AddContractor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContractor</servlet-name>
    <url-pattern>/AddContractor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>admin.settings.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddClient</servlet-name>
    <servlet-class>admin.settings.AddClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClient</servlet-name>
    <url-pattern>/AddClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PurchaseRawMaterial</servlet-name>
    <servlet-class>admin.manufacture.PurchaseRawMaterial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseRawMaterial</servlet-name>
    <url-pattern>/PurchaseRawMaterial</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddDailyStock</servlet-name>
    <servlet-class>admin.settings.AddDailyStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDailyStock</servlet-name>
    <url-pattern>/AddDailyStock</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddRates</servlet-name>
    <servlet-class>admin.settings.AddRates</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRates</servlet-name>
    <url-pattern>/AddRates</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SalePayment</servlet-name>
    <servlet-class>admin.sales.SalePayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalePayment</servlet-name>
    <url-pattern>/SalePayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RawSupplier</servlet-name>
    <servlet-class>admin.payment.RawSupplier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RawSupplier</servlet-name>
    <url-pattern>/RawSupplier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>productSupplierPayment</servlet-name>
    <servlet-class>admin.productPurchase.productSupplierPayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productSupplierPayment</servlet-name>
    <url-pattern>/productSupplierPayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContractorPayment</servlet-name>
    <servlet-class>admin.payment.ContractorPayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContractorPayment</servlet-name>
    <url-pattern>/ContractorPayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PTCash</servlet-name>
    <servlet-class>admin.pettycash.PTCash</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PTCash</servlet-name>
    <url-pattern>/PTCash</url-pattern>
  </servlet-mapping>
</web-app>